<ion-header>
  <ion-toolbar horizontal="center" vertical="center">
    <ion-title horizontal="center" style="max-width: 80%;">
      <h5><b>WALLET BOT</b></h5>
    </ion-title>
    <ion-button vertical="center" horizontal="end" float-right [routerLink]="['/riwayat']">
      <ion-icon name="stats"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content #content>
    <ion-fab vertical="bottom" horizontal="end" class="stop" slot="fixed" *ngIf="speaking">
        <ion-fab-button (click)="stopSpeech()">
          <ion-icon name="square"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid (change)="scrollBottom()">
      <app-chat-content *ngFor="let chat of chats"
      name="{{chat.name}}" 
      message="{{chat.message}}" 
      imageUrl="{{chat.imageUrl}}">
      </app-chat-content>
    </ion-grid>
</ion-content>

<app-input-field
(addChat)="addChat($event)" ></app-input-field>